USE [master]
GO
/****** Object:  Database [JavaEERouterDB]    Script Date: 06/25/2017 01:02:33 ******/
CREATE DATABASE [JavaEERouterDB] ON  PRIMARY 
( NAME = N'JavaEERouterDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQL2008\MSSQL\DATA\JavaEERouterDB.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JavaEERouterDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQL2008\MSSQL\DATA\JavaEERouterDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JavaEERouterDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JavaEERouterDB]
GO
/****** Object:  Table [dbo].[user]    Script Date: 06/25/2017 01:02:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user](
	[username] [varchar](20) NOT NULL,
	[password] [varchar](30) NOT NULL,
	[lastname] [nvarchar](50) NOT NULL,
	[isAdmin] [bit] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
